In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
archivo = 'C:/Users/ciele/OneDrive/Escritorio/P. Aurelion    Sprint 1 - CielemT/BD Guayerd 2025.xlsx'
ventas = pd.read_excel(archivo, sheet_name='ventas')
productos = pd.read_excel(archivo, sheet_name='productos')
clientes = pd.read_excel(archivo, sheet_name='clientes')
detalle_ventas = pd.read_excel(archivo, sheet_name='detalle_ventas')


df = pd.read_excel(archivo, sheet_name='clientes')
valores_unicos_muestra = df['fecha_alta'].unique()
df.head()

,id_cliente,nombre_cliente,email,ciudad,fecha_alta
0,5,Agustina Flores,agustina.flores@mail.com,Cordoba,2023-01-05
1,51,Agustina Gomez,agustina.gomez@mail.com,Rio Cuarto,2023-02-20
2,100,Agustina Lopez,agustina.lopez@mail.com,Cordoba,2023-04-10
3,46,Agustina Martinez,agustina.martinez@mail.com,Alta Gracia,2023-02-15
4,85,Agustina Martinez,agustina.martinez2@mail.com,Mendiolaza,2023-03-26

In [19]:
df.shape

(100, 5)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_cliente      100 non-null    int64
 1   nombre_cliente  100 non-null    object
 2   email           100 non-null    object
 3   ciudad          100 non-null    object
 4   fecha_alta      100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.0+ KB

In [17]:
df.describe()

       id_cliente           fecha_alta
count  100.000000                  100
mean    50.500000  2023-02-19 12:00:00
min      1.000000  2023-01-01 00:00:00
25%     25.750000  2023-01-25 18:00:00
50%     50.500000  2023-02-19 12:00:00
75%     75.250000  2023-03-16 06:00:00
max    100.000000  2023-04-10 00:00:00
std     29.011492                  NaN

In [20]:
df.isnull().sum()

id_cliente        0
nombre_cliente    0
email             0
ciudad            0
fecha_alta        0
dtype: int64

In [21]:
df.corr(numeric_only=True)

            id_cliente
id_cliente         1.0

In [22]:
df['ciudad'].mode()

0    Rio Cuarto
Name: ciudad, dtype: object

In [27]:
(valores_unicos_muestra[:10])

<DatetimeArray>
['2023-01-05 00:00:00', '2023-02-20 00:00:00', '2023-04-10 00:00:00',
 '2023-02-15 00:00:00', '2023-03-26 00:00:00', '2023-03-28 00:00:00',
 '2023-03-18 00:00:00', '2023-01-08 00:00:00', '2023-02-03 00:00:00',
 '2023-02-25 00:00:00']
Length: 10, dtype: datetime64[ns]